.prism-code::before{
    content: "";
    border-bottom: 1px solid var(--ifm-color-emphasis-300);
    display: flex;
    padding: 0.5rem;
    display: none;
}

.prism-code.language-javascript::before{
    display: flex;
    content: "javascript";
}

.prism-code.language-python::before{
    display: flex;
    content: "python";
}